<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Links</h2>
<%= render @article.links %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<h2>Add a link:</h2>
<%= @article.links.each do |link| %>
<%= link_to "#{link.title}", link.url %>
<%= render 'links/form' %>
<%end%>
<%= link_to 'Further Readings', edit_article_path(@article) %>
<%= link_to 'Edit Article', edit_article_path(@article) %>
<%= link_to 'Back to Articles', articles_path %>

</body>
</html>
